html{
    font-family: 'Pacifico', cursive;
}
body{
    background-color: ghostwhite;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("./confeti.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.699);
    margin-top: 2rem;
    width: 50%;
}
h1#comenzar.inicio{
    display: block;
}
.verde{
    transition: all;
    padding: 0 2rem;
    animation: latido 2s infinite; 
    z-index: 10000;
    max-width: 200px;
    max-height: 200px;
}
h1.frases.a{
    width: 100%;
}
@keyframes latido{
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(0.9, 0.9); 
    }
    100%{
        transform: scale(1, 1);
    }
}
.flecha{
    transition: all;
    animation: flecha 2s 2s infinite; 
    z-index: 1000000;
    display: block;
    margin: auto;
    padding-top: 1rem; 
}
.flecha:hover{
    cursor: pointer;
}
@keyframes flecha{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}
.mensajes{
    position: fixed;
}
h2.frases.f{
    color: rgba(255, 0, 0, 0.651);
    animation: mover 10s infinite; 
    position: absolute;
    transition: all;

}
h2.frases.b{
    color: rgb(175 237 79);
    animation: movera 13s infinite ease-in; 
    position: absolute;
    transition: all;

}
h3.frases.c{
    color: rgb(60 186 224);
    animation: moverc 10s infinite ease-in; 
    position: absolute;
    transition: all;

}
h2.frases.d{
    color: rgb(127 64 156);
    animation: moverd 11s infinite ease; 
    position: absolute;
    transition: all;

}
h2.frases.e{
    color: rgb(248 175 60);
    animation: movere 10s infinite ease-in-out; 
    position: absolute;
    transition: all;

}
h2.frases.g{
    color: rgb(234 53 130);
    animation: moverg 12s infinite ease-in-out; 
    position: absolute;
    transition: all;

}
h2.frases.h{
    color: #53a93f;
    animation: moverh 12s infinite ease-in-out; 
    position: absolute;
    transition: all;

}
h2.frases.i{
    color: #c8091a;
    animation: moveri 11s infinite ease-in; 
    position: absolute;
    transition: all;

}
h2.frases.j{
    color: #eec624;
    animation: moverj 14s infinite ease-out; 
    position: absolute;
    transition: all ease;

}
@keyframes moverj{
    0%{
        transform: translate(-600px, 0px);
    }
    50%{
        transform: translate(300px, 200px);
    }
    100%{
        transform: translate(900px, 50px);
    }
}
@keyframes moveri{
    0%{
        transform: translate(-200px, -600px);
    }
    100%{
        transform: translate(500px, 400px);
    }
}
@keyframes moverh{
    0%{
        transform: translate(-100px, -600px);
        display: none;
    }
    10%{
        display: block;
    }
    100%{
        transform: translate(900px, 400px);
    }
}
@keyframes moverg{
    0%{
        transform: translate(100px, -600px);
    }
    100%{
        transform: translate(-900px, 400px);
    }
}
@keyframes movere{
    0%{
        transform: translate(0px, -500px);
    }
    100%{
        transform: translate(-900px, 400px);
    }
}
@keyframes moverd{
    0%{
        transform: translate(400px, -500px);
    }
    100%{
        transform: translate(-900px, 400px);
    }
}
@keyframes moverc{
    0%{
        transform: translate(-700px, 400px);
    }
    100%{
        transform: translate(900px, -400px);
    }
}
@keyframes movera{
    0%{
        transform: translate(-100px, -500px);
    }
    100%{
        transform: translate(900px, 400px);
    }
}
@keyframes mover{
    0%{
        transform: translate(100px, 500px);
    }
    100%{
        transform: translate(-800px, -300px);
    }
}
.corazon{
    background: #f8f8ffbf;
    width: 80%;
    height: 30rem;
    border: 1px solid rgba(0, 0, 0, 0.699);
    border-right-color: transparent;
    box-shadow: 6px 5px 12px 1px rgba(0, 0, 0, 0.699);
    border-radius: 5px;
    border-top-left-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    place-content: center;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
     right: 0;
     z-index: 1000; 
}
.uno{
    display: none;
}
.dos{
    display: none;
}
.tres{
    display: none;
}
.cuatro{
    display: none;
}
.cinco{
    display: none;
}
.seis{
    display: none;
}
.siete{
    display: none;
}
.ocho{
    display: none;
}
.nueve{
    display: none;
}
.diez{
    display: none;
}
.once{
    display: none;
}
.doce{
    display: none;
}
.trece{
    display: none;
}
.uno, .dos, .tres, .cuatro, .cinco, .seis, .siete, .ocho, .nueve, .diez, .once, .doce, .trece{
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 2rem;
}
.diez{
    width: 100%;
}
.trece{
    width: 100%;
}
.captura{
    font-size: 1rem;
}
.boton{
    border: 2px solid blue;
}
#si:hover{
    background-color: #fb508a;
    color: #efd658; 
    border-color: white;
    box-shadow: 6px 5px 12px 1px rgb(228, 247, 63);
    cursor: pointer;
}
#no:hover{
    background-color: gray;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.baile{
    text-align: center;
}
h5.baile{
    width: 100%;

}
.audio{
text-align: center;
}